<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.Yosemite</string>
    <key>WorkingDirectory</key>
    <string>/full-path-to/yosemite-camping-master</string>
    <key>UserName</key>
    <string>actual-username</string>
    <key>ProgramArguments</key>
    <array>
        <string>/full-path-to/yosemite-camping-master/campsites.sh</string>
        <string>YYYY-MM-DD</string>
        <string>YYYY-MM-DD</string>
    </array>
    <key>StartInterval</key>
    <integer>180</integer>
    <key>StandardErrorPath</key>
    <string>/tmp/local.Yosemite.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/local.Yosemite.out</string>
    <key>RunAtLoad</key>
    <true/>
    <key>AbandonProcessGroup</key>
    <true/>
</dict>
</plist>
